.row.card.pb-3.pt-2
  .col-12
    = form_for([@department, @employee]) do |f|
      - if @employee.errors.any?
        #error_explanation
          %h2= "#{pluralize(@employee.errors.count, "error")} prohibited this employee from being saved:"
          %ul
            - @employee.errors.full_messages.each do |message|
              %li= message
      .row
        .col-6.mt-1
          .field
            = f.label :primer_nombre
            = f.text_field :first_name, :required => true, class: "input-group"
        .col-6.mt-1
          .field
            = f.label :apellido
            = f.text_field :last_name, :required => true, class: "input-group"
        .col-6.mt-1
          .field
            = f.label :cédula
            = f.text_field :dni, :required => true, class: "input-group"
        .col-6.mt-1
          .field
            = f.label :celular
            = f.text_field :cellphone, :required => true, class: "input-group"
        .col-12.mt-1
          .field
            = f.label :correo_electrónico
            = f.text_field :email, class: "input-group"
        .col-6.mt-1
          .field
            = f.label :banco
            = f.text_field :bank, class: "input-group"
        .col-6.mt-1
          .field
            = f.label :tipo_de_cuenta
            = f.text_field :account_type, class: "input-group"
        .col-12.mt-1
          .field
            = f.label :nro_de_cuenta
            = f.text_field :account_number, class: "input-group"
        .col-6.mt-1
          .field
            = f.label :teléfono_fijo
            = f.text_field :phone, class: "input-group"
        .col-6.mt-1
          .field
            = f.label :teléfono_emergencia
            = f.text_field :emergency_phone, class: "input-group"
        .col-12.mt-2
          .actions
            = f.submit 'Guardar', class: "btn btn-primary input-group"
