.col-10
    = form_tag department_employees_path, method: :get do
        .row
            .col-10
                = text_field_tag :search, params[:search], :placeholder => "Buscar empleado", :class => "input-group"
            .col-2
                = submit_tag 'Search',:name => nil, :class => "btn btn-primary"
.col-2.text-right
    = link_to "Cerrar sesión", destroy_company_session_path, method: :delete, class: "btn btn-danger"