.container.mt-4
    .row.grey
        = render 'search'
    -if(params[:search].empty?)
        .row
            .col-12.notifications
        .row.justify-content-center
            .col-7
                .row
                    .col-1
                        = link_to image_tag('flecha-atras(2).png'), root_path
                    .col
                        %h3 
                            Empleados de
                            = @department.name 
                -if @employees.empty?
                    %img.card.emptydep(src="https://www.cdc.gov/ncbddd/adhd/images/adhd-behavior-therapy-600x300.png")/
                -else
                    %table.table.border
                        %thead
                            %tr
                                %th Cédula
                                %th Nombre
                                %th Celular
                                %th.text-center Acciones

                        %tbody
                            - @employees.each do |employee|
                                %tr
                                    %td= employee.dni
                                    %td
                                        = employee.first_name
                                        = employee.last_name
                                    %td
                                        = employee.cellphone
                                        -# %td= link_to 'Show', department_employee_path(@department, employee)
                                    %td.text-center
                                        = link_to image_tag('lapiz.png'), edit_department_employee_path(@department, employee)
                                        -# %td= link_to 'Edit', department_employees_path(@department, @employee)
                                        = link_to image_tag('basura.png'), [@department, employee], method: :delete, data: { confirm: '¿Está segúro de borrar este empleado?' }

                    %br
            .col-4
                %h3 Editar Empleado

                = render 'form'
    - else
        .row.justify-content-center.mt-5
            .col-7
            %h3
                = link_to image_tag('flecha-atras(2).png'), department_employees_path 
                Resultado de la búsqueda  
            %table.table.border
                %thead
                %tr
                    %th Cédula
                    %th Nombre
                    %th Celular
                    %th.text-center Departamento
                    %th.text-center Acciones
                %tbody
                - @search.each do |employee|
                    %tr
                    %td= employee.dni
                    %td= employee.first_name
                    %td= employee.cellphone
                    %td.text-center
                        = @department.name
                    %td.text-center
                        = link_to image_tag('lapiz.png'), edit_department_employee_path(@department, employee)
                        = link_to image_tag('basura.png'), [@department, employee], method: :delete, data: { confirm: '¿Está segúro de borrar este empleado?' }
    
      


