.container.mt-4
  .row.grey
    = render 'search'
  -if(params[:search].empty?)  
    .row.justify-content-center
      .col-5.notifications.text-center
        -if(notice != nil)
          .alert.alert-success.alert.dismissible
            %a.close(href="#" data-dismiss="alert" aria-label="close") &times
            %p#notice= notice
    .row.justify-content-center
      .col-7
        .row
          .col-1
            = link_to image_tag('flecha-atras(2).png'), root_path
          .col
            %h3 
              Empleados de 
              = @department.name
        -if @employees.empty?
          .image.text-center.card
            %h4.mt-2 Aún no hay empleados
            %span.small.textimage Agrega un empleado en la sección Nuevo empleado
        -else
          %table.table.border
            %thead
              %tr
                %th Cédula
                %th Nombre
                %th Celular
                %th.text-center Acciones 

            %tbody
              - @employees.each do |employee|
                %tr
                  %td= employee.dni
                  %td
                    = employee.first_name
                    = employee.last_name
                  %td
                    = employee.cellphone
                  %td.text-center
                    = link_to image_tag('lapiz.png'), edit_department_employee_path(@department, employee)
                    = link_to image_tag('basura.png'), [@department, employee], method: :delete, data: { confirm: '¿Está segúro de borrar este empleado?' }

          %br
      .col-4
        %h3 Nuevo empleado
        = render 'form'
  -elsif(@search.length != 0)
    .row.justify-content-center.mt-5
      .col-7
        %h3
          = link_to image_tag('flecha-atras(2).png'), department_employees_path 
          Resultado de la búsqueda  
        %table.table.border
          %thead
            %tr
              %th Cédula
              %th Nombre
              %th Celular
              %th.text-center Departamento
              %th.text-center Acciones
          %tbody
            - @search.each do |employee|
              %tr
                %td= employee.dni
                %td= employee.first_name
                %td= employee.cellphone
                %td.text-center
                  = @department.name
                %td.text-center
                  = link_to image_tag('lapiz.png'), edit_department_employee_path(@department, employee)
                  = link_to image_tag('basura.png'), [@department, employee], method: :delete, data: { confirm: '¿Está segúro de borrar este empleado?' }
  - else
    .row.justify-content-center.mt-5
      .col-4
        %h4
          = link_to image_tag('flecha-atras(2).png'), department_employees_path
          Resultado de la búsqueda  
        .image2.card.text-center
          %h6.mt-2 Ningun empleado coincide con la búsqueda
    