.container.signup
  .row
    .col-4
    .col-4.card.pb-5
      %h3.text-center Registro de Compañías
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .field
          = f.label :Correo_electrónico
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "input-group"
        .field.mt-2
          = f.label :Nombre_de_la_compañía
          %br/
          = f.text_field :name, autofocus: true, class: "input-group"
        .field.mt-2
          = f.label :rif_de_la_compañía
          %br/
          = f.text_field :rif, autofocus: true, class: "input-group"
        .field.mt-2
          = f.label :Contraseña
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} caracteres mínimos)
          %br/
          = f.password_field :password, autocomplete: "off", class: "input-group"
        .field.mt-2
          = f.label :confirmar_contraseña
          %br/
          = f.password_field :password_confirmation, autocomplete: "off", class: "input-group"
        .actions.mt-3
          = f.submit "Registrarse", class: "btn btn-primary input-group"
      = render "devise/shared/links"
