.container
  .row
    .col-12.card.pb-3
      = form_for @department do |f|
        - if @department.errors.any?
          #error_explanation
            %h2= "#{pluralize(@department.errors.count, "error")} prohibited this department from being saved:"
            %ul
              - @department.errors.full_messages.each do |message|
                %li= message

        .field.mt-2
          = f.label :nombre_del_departamento
          = f.text_field :name, :required => true,class: "input-group"
        .actions.mt-2
          = f.submit 'Guardar', class: "btn btn-primary input-group"
