.container.mt-4
    .row.grey
        = render 'search'
    -if(params[:search].empty?)
        .row
            .col-12.notifications.text-center
                %p#notice= notice
        .row.justify-content-center
            .col-7
                %h3 Departamentos
            
                - if @departments.empty?
                    %img.card.emptydep(src="https://www.cdc.gov/ncbddd/adhd/images/adhd-behavior-therapy-600x300.png")/
                - else
                    %table.table.border
                        %thead
                            %tr
                                %th Nombre del departamento
                                %th.text-center Cantidad de empleados
                                %th.text-center Acciones
        
                        %tbody
                            - @departments.each do |department|
                                %tr
                                    %td= link_to department.name, department_employees_path(department)
                                    %td.text-center= @employees.where(:department_id => department.id).length
                                    %td.text-center
                                        = link_to image_tag('grupo(1).png'), department_employees_path(department)
                                        = link_to image_tag('lapiz.png'), edit_department_path(department)
                                        = link_to image_tag('basura.png'), department, method: :delete, data: { confirm: 'También se eliminarán los empleados que pertenezcan a este departamento. ¿Está segúro?' }
        
                    %br
            .col-3
                %h4 Editar departamento
    
                = render 'form'
    -elsif(@search.lenght != 0)
        .row.justify-content-center.mt-5
            .col-7
                %h3
                    = link_to image_tag('flecha-atras(2).png'), root_path
                    Resultado de la búsqueda  
                %table.table.border
                    %thead
                        %tr
                            %th Cédula
                            %th Nombre
                            %th Celular
                            %th.text-center Departamento
                            %th.text-center Acciones
                    %tbody
                        - @search.each do |employee|
                            %tr
                                %td= employee.dni
                                %td= employee.first_name
                                %td= employee.cellphone
                                %td.text-center
                                    = employee.department_id
                                %td.text-center
                        -# = link_to image_tag('lapiz.png'), edit_department_employee_path(@department, employee)
                        -# = link_to image_tag('basura.png'), [@department, employee], method: :delete, data: { confirm: '¿Está segúro de borrar este empleado?' }
    - else
        .row.justify-content-center.mt-5
            .col-4
                %h4
                    = link_to image_tag('flecha-atras(2).png'), root_path
                    Resultado de la búsqueda  
                .image2.card.text-center
                    %h6.mt-2 Ningun empleado coincide con la búsqueda
        
                
      


