@import "bootstrap";



.signin {
    margin-top: 20vh;
}
.signup {
    margin-top: 15vh;
}

.grey{
    background-color: rgb(245, 245, 245);
    padding: 10px
}

.notifications{
    height: 80px;
}

.emptydep{
    width: 600px;
    height: 300px;
}

.image{
    background-image: url("https://www.cdc.gov/ncbddd/adhd/images/adhd-behavior-therapy-600x300.png");
    height: 300px;
    width: 600px;
}

.textimage{
    margin-top: 220px
}

td > a{
    margin-left: 5px;
}

.image2{
    background-image: url("https://thumb7.shutterstock.com/display_pic_with_logo/4563643/706028797/stock-photo-dismissal-frustrated-concept-business-man-is-fired-from-the-office-stay-with-box-cartoon-modern-706028797.jpg");
    height: 500px;
    width: 400;
}